.order-search {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    position: relative;
    left: 30%;

    .title {
        font-weight: lighter;
       
    }
}